# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
*.cover
*.log

# Build
build/
dist/
*.egg-info/
*.egg
render.yaml

# Misc
*.swp
*.swo
.idea/
*.bak
*.tmp